.container{
    position: fixed;
    top: 150px;
    left: 435px;
}
.container1{
    position: fixed;
    top: 150px;
    left: 725px;
}
.dice{
    display: inline-block;
    text-align: center;
}
.dice1{
    display: inline-block;
    text-align: center;
}

body{
    background-color:seagreen;
    box-shadow: inset 0px 0px 30px 30px rgba(0,0,0,0.4);
   }
center{
    font-size: 4rem;
    text-rendering: 5px 0 black;
    color: orange;
    
}
p{
    color: orange;
}
h2{
    color: white;
    
}
img{
    width: 70%;
    height: 35%;
}
.btn-group button {
  background-color: orange; 
  border: 1px solid green; 
  color: white; 
  padding: 10px 24px; 
  cursor: pointer; 
    position: fixed; 
    left: 485px;
    top: 370px;
    
}
.btn-group button {border-radius: 20px;}
.btn-group3 button {
  background-color: orange;
  border: 1px solid green;
  color: white; 
  padding: 10px 24px; 
  cursor: pointer; 
    position: fixed; 
    left: 775px;
    top: 370px;
    
}
.btn-group3 button {border-radius: 20px;}
.btn-group1 button {
  background-color: limegreen; 
  border: 1px solid green;
  color: white; 
  padding: 10px 24px; 
  cursor: pointer;
    position: fixed; 
    left: 550px;
    top: 450px;
    
}
.btn-group1 button {border-radius: 20px;}
.btn-group2 button {
  background-color: skyblue; 
  border: 1px solid green; 
  color: white; 
  padding: 10px 24px;
  cursor: pointer; 
  position: fixed; 
    left: 715px;
    top: 450px;
}
.btn-group2 button {border-radius: 20px;}
.logo img
{
    position: fixed;
    top: 250;
    left: 625;
     width: 100px;
    height: auto;
}
.logo1 img
{
    position: fixed;
    top: 100;
    left: 625;
     width: 100px;
    height: auto;
}
.dice{
    background-image: linear-gradient(-90deg,  red, darkred);
    width: 130%;
    height: 275px;
}
.dice1{
    background-image: linear-gradient(-90deg,  red, darkred);
        width: 130%;
    height: 275px;
}